#calculate, #clean{
    margin-top: 20%;
}
.common{
    font-weight: bolder;
}
.card{
    height: 140px;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-right: 31px;
    margin-top: 40px;
}
.card .date{
    margin-top: 20px;
}
